<div class="card mt-3">
<div class="card-body">
  <div class="col-lg-12">
    <img class="card-img-fluid w-100 rounded mb-3" src="{{event.dataValues.imgUrl}}" alt="Card image cap">
    <h3 card-title>{{event.dataValues.title}}</h3>
    <div class="lead">{{event.dataValues.desc}}</div>
   <small class="text-muted">Created on: {{event.createdAtFormatted}}</small>
     <div class="text-right" style="padding-top: 2%;">
      <a href="/events/{{event.dataValues.id}}/edit">Edit Event</a>
    </div>
 
    <div class="col-lg-4 offset-lg-1" style="float:right">
    <div class="d-flex justify-content-between">
      <b>Tickets Sold: {{event.Tickets.length}}</b>
       <a href="/events/{{event.id}}/tickets/new" class="btn btn-info btn-sm">Get A Ticket</a> 
    </div>
</div>
  </div>
</div>
</div>
